
.bartending-clue{
    max-width: 885px;
    margin: 0 auto;
}

.bartending-check-clue{
     max-width: 348px;
}
.bartending-title{
     max-width: 550px;
}
.servers-sub-title span{
    font-weight: 700;

}

.bartending-vegas-clue {
    max-width: 884px;
    margin: 0 auto;
}

.servers-bartending-sub {
    max-width: 780px;
    margin: 0 auto;
}

.servers-bartending-sub span {
    font-weight: 700;
}
.bartending-card-sub{
    max-width: 235px;
}
.bartending-video-title span{
    font-weight: 700;
}
.bartending-img-info{
    margin-top: 25px;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.05em;
    text-align: center;
    color: rgba(251, 249, 250, 1);
    max-width: 230px;
}
.bartending-sub-title{
    max-width: 710px;
}
.bartending-request-sub{
     max-width: 598px;
}


.brand-ambassadors-clue {
    max-width: 980px;
    margin: 0 auto;
}
.brand-ambassadors-clue span{
    font-weight: 700;
}
.brand-ambassadors-wrap{
    display: block;
}
.ambassadors-server-title{
    margin-top: 20px;
    max-width: 738px;
}
.bartending-lv-event{
    padding-bottom: 120px;
}


@media (max-width: 767px) {
    .bartending-lv-event{
        padding-bottom: 80px;
    }
}

@media (max-width: 576px) {

    .bartending-img-info {
        margin-top: 15px;
        font-size: 20px;
        font-weight: 400;
        line-height: 36px;

    }

    .bartending-lv-event{
        padding-bottom: 60px;
    }

}
