
.bartending-vegas-clue {
    max-width: 884px;
    margin: 0 auto;
}

.servers-bartending-sub {
    max-width: 780px;
    margin: 0 auto;
}

.servers-bartending-sub span {
    font-weight: 700;
}
.bartending-card-sub{
     max-width: 235px;
}
.bartending-video-title span{
    font-weight: 700;
}