
.brand-ambassadors-clue {
    max-width: 980px;
    margin: 0 auto;
}
.brand-ambassadors-clue span{
    font-weight: 700;
}
.brand-ambassadors-wrap{
    display: block;
}
.ambassadors-server-title{
    margin-top: 20px;
    max-width: 738px;
}
.bartending-lv-event{
    padding-bottom: 120px;
}
@media (max-width: 767px) {
    .bartending-lv-event{
        padding-bottom: 80px;
    }
}

@media (max-width: 567px) {
    .bartending-lv-event{
        padding-bottom: 60px;
    }
}