
.staff-sub-title {
    max-width: 469px;
    margin: 0 auto;
}


.conversion-sub-title{
    max-width: 745px;
}

@media (max-width: 1400px) {

}


@media (max-width: 1200px) {


}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}
