
.event-host-clue {
    max-width: 780px;
    margin: 0 auto;
}

.event-host-sub {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.05em;
    text-align: center;
    padding-top: 10px;
    color: rgba(18, 18, 18, 1);
    max-width: 973px;
    margin: 0 auto;


}



.choose-sub-title{
     max-width: 788px;
    margin: 0 auto;
}




@media (max-width: 1400px) {

}


@media (max-width: 1200px) {


}

@media (max-width: 992px) {

}

@media (max-width: 768px) {


}

@media (max-width: 576px) {

}